<div class="popUp">
    <h3 class="popUp__title">Авторизация</h3>
    <div class="popUp__wrap">
        <input type="text" class="input input_auth" placeholder="Ф.И.О">
        <input type="text" class="input input_auth" placeholder="Ник">
        <button class="button button_auth">Войти</button>
    </div>
</div>