<h3 class="popUp__title">Авторизация</h3>
<div class="popUp__wrap">
    <input type="text" class="input input_auth" placeholder="Ф.И.О" id="name">
    <input type="text" class="input input_auth" placeholder="Ник" id="nick">
    <div class="popUp__footer">
        <span class="popUp__alert" id="alert"></span>
        <button class="button button_auth">Войти</button>
    </div>
</div>