<h3 class="popUp__title">Авторизация</h3>
<form class="popUp__form" id="auth">
    <div class="popUp__wrap">
        <input type="text" class="input input_auth" placeholder="Ф.И.О" id="name" form="auth">
        <input type="text" class="input input_auth" placeholder="Ник" id="nick" form="auth">
        <div class="popUp__footer">
            <span class="popUp__alert" id="alert"></span>
            <button type="submit" class="button button_auth">Войти</button>
        </div>
    </div>
</form>