<h3 class="popUp__title">Загрузка фото</h3>
<div class="popUp__wrap">
    <div class="input input_file" id="inputFile">
        <span class="input__text">Перетащите сюда фото</span >
    </div>
    <div class="popUp__footer">
        <span class="popUp__alert" id="alert"></span>
        <div class="popUp__button-wrap">
            <button class="button button_file" id="fileCanselButton">Отмена</button>
            <button class="button button_file" id="fileLoadButton">Загрузить</button>
        </div>
    </div>
</div>