<div class="popUp">
    <h3 class="popUp__title">Загрузка фото</h3>
    <div class="popUp__wrap">
        <div class="input input_file">
            <span class="input__text">Перетащите сюда фото</span >
        </div>
        <div class="popUp__button-wrap">
            <button class="button button_file">Отмена</button>
            <button class="button button_file">Загрузить</button>
        </div>
    </div>
</div>