<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
    <aside class="users" id="users">
        <div class="users__main">
            <div class="avatar__wrap">
                <img src="./src/images/defaultAvatar.jpg" alt="user avatar" class="avatar users__avatar" id="userAvatar">
            </div>
            <span class="users__name">Добро пожаловать</span>
        </div>
    </aside>
    <main class="main">
        <ul class="main__window" id="messagesList">
        </ul>
        <div class="main__footer">
            <form class="main__form" id="mainForm">
                <div class="main__footer-wrap">
                    <input type="text" class="input input_main" id="mainInput" placeholder="Введите сообщение" form="mainForm">
                    <button class="button button_main" id="messageButton" type="submit">Отправить</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>
