<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
    <aside class="users">
        <div class="users__main">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPIJCYgpIQ0pmJ6-S96Hi2WnpTOHC3nFc_Ws5I5DZ56PbKJmXb" alt="user avatar" class="avatar users__avatar">
            <span class="users__name">Добро пожаловать</span>
        </div>
    </aside>
    <main class="main">
        <ul class="main__window">
        </ul>
        <div class="main__footer">
            <div class="main__footer-wrap">
                <input type="text" class="input input_main" placeholder="Введите сообщение">
                <button class="button button_main">Отправить</button>
            </div>
        </div>
    </main>
</body>
</html>
