<li class="message">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPIJCYgpIQ0pmJ6-S96Hi2WnpTOHC3nFc_Ws5I5DZ56PbKJmXb" alt="user avatar" class="avatar message__img">
    <div class="message__wrap">
        <div class="message__head">
            <span class="message__name">Вася Пупкин</span>
            <span class="message__time">22:10</span>
        </div>
        <div class="message__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, possimus.</div>
    </div>
</li>