<div class="users__main">
    <div class="avatar__wrap">
        <img src="{{path}}" alt="user avatar" class="avatar users__avatar" id="userAvatar">
    </div>
    <span class="users__name">{{name}}</span>
</div>
<div class="users__wrap">
    <div class="users__title">Участники ({{number}})</div>
    <ul class="users__list">
        {{#each users}}
        <li class="users__item">
            {{name}}
        </li>
        {{/each}}
    </ul>
</div>