<div class="users__main">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPIJCYgpIQ0pmJ6-S96Hi2WnpTOHC3nFc_Ws5I5DZ56PbKJmXb" alt="user avatar" class="avatar users__avatar">
    <span class="users__name">Добро пожаловать</span>
</div>
<div class="users__wrap">
    <div class="users__title">Участники ({{number}})</div>
    <ul class="users__list">
        <li class="users__item">
            Вася Пупкин
        </li>
        <li class="users__item">
            Леша Колпачков
        </li>
    </ul>
</div>