@font-face {
    font-family: 'firaSans';
    src: url('../fonts/firasans-light-webfont.woff') format('woff'),
         url('../fonts/firasans-medium-webfont.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'firaSans';
    src: url('../fonts/firasans-regular-webfont.woff') format('woff'),
         url('../fonts/firasans-regular-webfont.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
  font-family: 'firaSans';
  src: url('../fonts/firasans-medium-webfont.woff') format('woff'),
        url('../fonts/firasans-medium-webfont.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}